/* 
    Document   : midpagestyle
    Created on : Dec 5, 2013, 3:58:48 PM
    Author     : Maxsys
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#midpage-post{
    height: auto;
    width: 100%;
    margin: 10px 0 0 0;
    
}

#midpage-post-main{
    height: auto;
    width: 635px;
    margin: 5px 0 0 0;
    padding: 5px;
    float: right;
    display: block;
    
}
#midpage-slideimage-thumb ul,li{
    list-style-type: none;
    display: inline;
    margin: auto;
    
}

