/* 
    Document   : botpagestyle
    Created on : Dec 10, 2013, 6:43:38 PM
    Author     : Maxsys
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#botpage-info{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 12px;
    line-height: 15px;
    background: url('../image/bg_footer.jpg') no-repeat;
}
#footer-line{
    height: 30px;
    width: 100%;
    background: url('../image/footer.png') no-repeat;
}

