/* 
    Document   : toppagestyle
    Created on : Dec 5, 2013, 3:46:43 PM
    Author     : Maxsys
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#Logotoppage{
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    background: url('../image/logo.png') no-repeat;
}
#Languagetoppage{
    width: 60%;
    height: 30px;
    margin: 0;
    padding: 0;
    float: left;
}
#Menutoppage{
    width: 570px;
    height: 120px;
    margin: 0;
    padding: 0;
    float: left;
}
#language-en{
    width: 30px;
    height: 30px;
    float: right;
    background: url('../icons/en.png') no-repeat;
    margin: 0 5px 0 0;
}
#language-vi{
    margin: 0 5px 0 0;
    width: 30px;
    height: 30px;
    float: right;
    background: url('../icons/vi.png') no-repeat;
}

#Menutoppage ul,li{
    display: inline;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    font-family: arial;
}
#Menutop-list-ul{
    height: 120px;
    width: 570px;
    margin: 0;
    padding: 0;
}
.Menutop-list-li{
    height: 50px;
    width: 79px;
    margin: 40px 0 0 2px;
    padding: 5px 0 0 0;
    line-height: 25px;
    display:inline-block;
    vertical-align: middle;
    float: left;
    background: gray;
    font-size: 10px;
    font-weight: bold;
    background:-webkit-radial-gradient(top center, white, black);
    cursor: default;
    text-align: center;
    opacity: 0.7;
    /*border-top-left-radius:40px;
    border-top-right-radius:40px;*/
    border-radius: 4px;
}
.Menutop-list-li:hover{
    color: yellow;
    border-bottom: #ffffff solid 2px;
    border-top: #ffffff solid 2px;
    background:-webkit-radial-gradient(bottom center, white, black);
    opacity: 1;
    height: 60px;
    /*width: 75px;
    height: 92px;*/
    padding: 20px 0 0 0;
    font-size: 10px;
    font-weight: bold;
}