@charset "utf-8";
/* reset */
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     border: 0pt none;
     font: inherit;
     margin: 0pt;
     padding: 0pt;
}

/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

/*body {
     line-height: 1;
}
*/
/*ol, ul {
     list-style: none outside none;
}*/

blockquote, q {
     quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0pt;
}
/*a{
	text-decoration:none;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size:0!important;
}
 
/*.clearfix {
	display: inline-block;
	width:100%;
}
 
/*html[xmlns] .clearfix {
	display: block;
}
 
/** html .clearfix {
	height: 1%;
}

/*---end reset---*/

/*body{
    font-family:helvetica,arial,sans-serif;
    font-size:12px;
	background-color:#f2f2f2;
}*/

.login{
    position:absolute;
    left:50%;
    top:25%;
	margin-left:-140px;
    width:280px;
    border-radius:7px;
    overflow:hidden;
    background-color:#111111;
    border:1px solid #000000;
    box-shadow:0 0 10px rgba(0,0,0,0.8);
	z-index:999;
	display:none;
}

.login-header{
	border-radius:7px 7px 0 0;
    text-align:center;
    position:relative;
    height:38px;
    line-height:36px;
    color:#eaeaea;
    text-shadow:0 1px 0 rgba(0,0,0,0.8);
    font-weight:bold;
    background-color:#212121;
    background-image:-moz-linear-gradient(top,#232323 0%,#1d1d1d 50%,#010101 50%,#0f0f0f 100%);
	background-image:-webkit-linear-gradient(top,#232323 0%,#1d1d1d 50%,#010101 50%,#0f0f0f 100%);
	background-image:-o-linear-gradient(top,#232323 0%,#1d1d1d 50%,#010101 50%,#0f0f0f 100%);
	background-image:-ms-linear-gradient(top,#232323 0%,#1d1d1d 50%,#010101 50%,#0f0f0f 100%);
	background-image:linear-gradient(top,#232323 0%,#1d1d1d 50%,#010101 50%,#0f0f0f 100%);
    border-bottom:1px solid #111111;
    box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 -1px 0 rgba(0,0,0,1) inset;
}

.login-content{
    border-top:1px solid #262626;
    padding:16px;
    box-shadow:0 0 10px rgba(0,0,0,0.5) inset,0 -1px 0 rgba(255,255,255,0.1) inset;
}

.login label{
    display:block;
    margin-bottom:9px;
    font-size:10px;
    text-shadow:0 0 1px rgba(0,0,0,0.5);
    font-weight:900;
    color:#4b4b4b;
}

.login input:not(.loginsubmit){
    margin-bottom:9px;
    display:block;
    width:218px;
    background-color:#050505;
    border:none;
    height:38px;
    border-radius:6px;
    color:#4b4b4b;
    font-size:10px;
    font-weight:900;
    padding:0 15px;
    box-shadow:0 1px 0 rgba(255,255,255,0.08);
}

.loginsubmit{
    display:block;
    margin:auto;
    color:#b0b0b0;
    font-size:12px;
    font-weight:bold;
    height:38px;
    width:100px;
    padding-bottom:3px;
    border-radius:7px;
    margin-top:15px;
    border:none;
    cursor:pointer;
    background-color:#111111;
    background-image:-moz-linear-gradient(top,#0c0c0c 0%,#111111 25%,#090909 50%,#000000 50%,#090909 75%,#0c0c0c 100%);
	background-image:-webkit-linear-gradient(top,#0c0c0c 0%,#111111 25%,#090909 50%,#000000 50%,#090909 75%,#0c0c0c 100%);
	background-image:-o-linear-gradient(top,#0c0c0c 0%,#111111 25%,#090909 50%,#000000 50%,#090909 75%,#0c0c0c 100%);
	background-image:-ms-linear-gradient(top,#0c0c0c 0%,#111111 25%,#090909 50%,#000000 50%,#090909 75%,#0c0c0c 100%);
	background-image:linear-gradient(top,#0c0c0c 0%,#111111 25%,#090909 50%,#000000 50%,#090909 75%,#0c0c0c 100%);
    box-shadow:0 -1px 0 rgba(255,255,255,0.08) inset,0 0 5px rgba(0,0,0,0.7) inset,1px 0px 0px rgba(0,0,0,0.5) inset,-1px 0px 0px rgba(0,0,0,0.5) inset;
}

.loginsubmit:active{
	background-color:#0b0b0b;
	background-image:-moz-linear-gradient(top,#0b0b0b,#0b0b0b);
	background-image:-webkit-linear-gradient(top,#0b0b0b,#0b0b0b);
	background-image:-o-linear-gradient(top,#0b0b0b,#0b0b0b);
	background-image:-ms-linear-gradient(top,#0b0b0b,#0b0b0b);
	background-image:linear-gradient(top,#0b0b0b,#0b0b0b);
	box-shadow:0 -1px 0 rgba(255,255,255,0.08) inset,0 0 7px rgba(0,0,0,0.9) inset,1px 0px 0px rgba(0,0,0,0.5) inset,-1px 0px 0px rgba(0,0,0,0.5) inset;
}

.close{
	position:absolute;
	width:16px;
	height:16px;
	display:block;
	border-radius:17px;
	color:#000000;
	font-size:11px;
	line-height:14px;
	font-weight:bold;
	text-shadow:none;
    right:16px;
    top:11px;
    background-color:#000000;
    box-shadow:0 -1px 0 rgba(255,255,255,0.2) inset;
    -moz-transition:all 0.2s ease;
}

.close:hover{
	color:#fff;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background-color:#222;
    z-index:10;
	display:none;
}

.login-bar{
    /*border-top:4px solid #222;*/
    position:relative;
}

.login-button{
    display:inline-block;
    position:absolute;
    right:0%;
    /*background-color:#222;*/
    background: none;
    /*border: solid 1px gold;*/
    opacity: 0.7;
    box-shadow: inset 0 0 10px gold;
    color:gold;
    font-weight:bold;
    padding:8px 15px 8px 15px;
    border-radius:3px;
	text-transform:uppercase;
	letter-spacing:1px;
        text-decoration: none;
        font-family: arial;
        font-size: 14px;
        opacity: 0.6;
}
.login-button:hover{
    opacity: 1;
    border: solid 2px gold;
    padding:6px 13px 6px 13px;
}