/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2013, 8:04:14 PM
    Author     : Maxsys
*/
#feedback{
    margin: 0;
    padding: 0;
}
#feedback fieldset{
    border-radius: 4px;
    height: auto;
    text-align: left;
    padding: 0 0 10px 40px;
    
}
#feedback-button{
    margin-top: 10px;
    width: 100%;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}
.text{
    height: 25px;
    width: 300px;
    border-radius: 8px;
    border: solid 1px gold;
    opacity: 1;
    margin: 0 0 0 10px;
    padding: 2px 0 2px 8px;
    line-height: 20px;
    /*box-shadow: inset 0 0 5px gold;*/
    background: none;
    color: gold;
}
.textarea{
    width: 300px;
    border-radius: 8px;
    border: solid 1px gold;
    opacity: 1;
    margin: 0 0 0 10px;
    padding: 2px 0 2px 5px;
    resize: none;
    padding: 2px 0 2px 8px;
    line-height: 20px;
    background: none;
    color: gold;
    /*box-shadow: inset 0 0 5px gold;*/
}
#feedback .text:focus{
    outline: none;
    box-shadow: inset 0 0 10px gold;   
}
#feedback .btn:focus{
    outline: none;
    
}
#feedback .btn:active{
    box-shadow: 0px 0px 0px 2pt gold;
    font-size: 15px;
}
#feedback .textarea:focus{
    outline: none;
    box-shadow: inset 0 0 10px gold;
}
.btn{
    height: 30px;
    width: 100px;
    border: solid 1px gold;
    border-radius: 8px;
    cursor: pointer;
    background:-webkit-radial-gradient(top center, gold, black);
    color: white;
    font-weight: bold;
    margin: 0 0 0 10px;
    
}
.btn:hover{
    background:-webkit-radial-gradient(top center, black, gold);
    color: yellow;
}
#feedback-info tr,td{
    padding-top:  5px;
}
