/* 
    Document   : botpagestyle
    Created on : Dec 10, 2013, 6:43:38 PM
    Author     : Maxsys
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#botpage-info{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 5px 0 10px 0;
    display: block;
    font-size: 12px;
    line-height: 15px;
    background: url('../../pageimages/image/bg_footer.jpg') no-repeat;
}
#footer-line{
    margin: 0;
    height: 30px;
    width: 100%;
    background: url('../../pageimages/image/footer.png') no-repeat;
}
#botpage-info h3,p{
    margin: 0;
    padding: 0;
}

